@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', system-ui, sans-serif;
}

code, pre, .font-mono {
  font-family: 'JetBrains Mono', monospace;
}